*{
    padding: 0px;
    margin: 0px;
    font-family: monospace;
}
body{
    background-color: lightcyan;
}
#container{
    width:  1380px auto;
    height: 1220px;
    background-color: lightpink;
    margin-left: 50px;
    margin-right: 50px;
}
#navbar{
    width: 100%;
    height: 150px;
    background-color: grey;
    margin: 0px auto;
    padding: auto;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    display: flex;
}
li {
    color: white;
    font-family: monospace;
    text-align: bold;
    display: flex;
    margin: 0px auto;
    justify-content: center;
    justify-content: space-evenly;
}
.Dojonary{
    color: black;
    font-size: 45px;
}
.Search{
    border: black;
    border-style: solid;
    font-size: 35px;
    
}
.btn{
    background-color: blue;
    font-size: 25px;
    border: black;
    border-style: solid;
    box-shadow: 3px 3px black;
    color: white;
    box-shadow: black;
    border-color: black;
    text-shadow: black;
}
#Mainbody{
    width: 100%;
    height: 1170px;
    margin: 0px auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
#Left{
    width: 70%;
    height: 1000px;
    background-color: white;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}
#Right{
    width: 30%;
    height: 1000px;
    background-color: white;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}
.Box1{
    width: 97%;
    height: 400px;
    justify-content: center;
    background-color:white;
    flex-direction: row;
    border-style: solid;
    border-color: black;
    margin-top: 50px;
    display:flex;
    flex-direction: row;
}
.ninja{
    width: 30%;
    height:90%;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}
h1{
    font-size: 45px;
    margin-left: 50px;
}
h2{
    font-size: 25px;
    margin-left: 20px;
}
h3{
    font-size: 25px;
    margin-left: 85px;
}
.italics{
    font-style: italic;
    font-weight: lighter;
}
.likes{
    color: black;
    background-color: yellow;
    border: black;
    border-style: solid;
    box-shadow: 3px 3px;
    font-size: 15px;
    margin-left: 35px;

}
.definition{
    font-size: 30px;
    margin-top:100px;
    margin-left: 35px;
}
.definition-2{
    font-size: 25px;
    margin-top:100px;
    margin-left: 35px;
}
.Japanese{
    color:blue;
    text-decoration: underline;
}
.ninjutsu{
    color:blue;
    text-decoration: underline;
}
.zen{
    color:blue;
    text-decoration: underline;
}
.answer{
    width:60%;
    height: 90%;
    background-color:white;
    display: flex;
    justify-content: center;
    text-align: left;
}
.Box2{
    width: 97%;
    height: 400px;
    justify-content: center;
    background-color:white;
    flex-direction: row;
    border-style: solid;
    border-color: black; 
    margin-top: 50px;
    display:flex;
    flex-direction: row;

}
.Box3{
    width: 98%;
    height: 300px;
    justify-content: center;
    background-color:white;
    flex-direction: row;
    border-style: solid;
    border-color: black; 
    margin-top: 50px;
    display:flex;
    flex-direction: column;
}
.Box3text{
    font-size: 25px;
    margin-left: 35px;
}
.YOU{
    font-weight: bold;
    font-size: 28px;
}
.AddDef{
    background-color: green;
    font-size: 25px;
    margin-top: 15px;
    margin-right: 25px;
    margin-left: 25px;
    border: black;
    border-style: solid;
    box-shadow: 3px 3px;
}